folium==0.14.0
geopandas==0.12.2

pandas
geopandas
plotly
streamlit
streamlit-extras
streamlit-aggrid
streamlit-plotly-events
folium
streamlit_folium
streamlit-aggrid
plotly
scikit_learn
pydeck
pillow
notebook
openpyxl
fuzzywuzzy
xlrd
xlwt
